<html>
    <head>
        <title>Noia</title>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3/build/web/hack-subset.css">
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/freeze-ui.min.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                httpRequest('/api/devices', function (data) {
                    const devices = document.querySelector(".devices");
                    let counter = 0;
                    data.forEach(function(dev) {
                        console.log(dev);
                        if(dev.impl.type !== "usb") {
                            return;
                        }
                        counter++;
                        console.log(dev.impl);
                        devices.innerHTML += `<div class="box">
<div class="icon">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12.01" y2="18"></line></svg>
</div>
<h5 class="heading">${dev.impl.name}</h5>
<p class="text">${dev.impl.id}</p>
<a class="link" href="/device/${dev.impl.id}/packages">Explore</a>
</div>`;
                    });
                    if(counter == 0) {
                        displayError("No devices found");
                    }
                });
            };
        </script>
    </head>
    <body>
        <div class="main_container">
            <div class="devices center"></div>
            <div class="footer-text">Made with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> by <a href="https://github.com/0x742" target="_blank">Raz</a></div>
        </div>
    </body>
</html>